/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>

/ {
	#address-cells = <0x1>;
	#size-cells = <0x1>;
	compatible = "noop";
	model = "uart0";

	chosen {
		bootargs = "cca=0 lpj=200 console=ttyUL0,115200n8 rootfstype=ext4 root=/dev/mtdblock0 rw";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		cpu@0 {
			device_type = "cpu";
			compatible = "mips,4Kc";
			clocks	= <&ext>;
			reg = <0>;
		};
	};

	cpuintc: interrupt-controller@0 {
		#address-cells = <0>;
		#interrupt-cells = <1>;
		interrupt-controller;
		compatible = "mti,cpu-interrupt-controller";
	};

	ext: ext {
		compatible = "fixed-clock";
		#clock-cells = <0>;
	};

	aliases {
		spi0 = &njuoop_spi;
		ethernet = &axi_ethernetlite;
	};

	memory {
		device_type = "memory";
		/* ddr start at 256M and size 128M */
		reg = <0x00000000 0x8000000>;
	};

	njuoop_uartlite: serial@bfe50000 {
		device_type = "serial";
		compatible = "xlnx,opb-uartlite-1.00.b";
		reg = <0x1fe50000 0x1000>;
		reg-shift = <2>;
		current-speed = <115200>;
		interrupt-parent = <&cpuintc>;
		interrupts = <4>;
	};

	njuoop_spi: spi@bfe80000 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "xlnx,xps-spi-2.00.a";
		reg = <0x1fe80000 0x10000>;
		// fifo-size = <256>;
		interrupt-parent = <&cpuintc>;
		interrupts = <5>;
		xlnx,fifo-exist = <0x1>;
		xlnx,num-ss-bits = <0x1>;
		xlnx,num-transfer-bits = <0x8>;

		spi-flash@0 {
			compatible = "jedec,spi-nor";
			reg = <0>; // Chip select 0
			spi-max-frequency = <30000000>;
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "rootfs";
				reg = <0x0 0x800000>;
			};
		};
	};

	axi_ethernetlite: ethernet@bff00000 {
		compatible = "xlnx,xps-ethernetlite-1.00.a";
		device_type = "network";
		local-mac-address = [08 86 4C 0D F7 09];
		phy-handle = <&phy0>;
		reg = <0x1ff00000 0x10000>;
		xlnx,duplex = <0x1>;
		xlnx,include-global-buffers = <0x1>;
		xlnx,include-internal-loopback = <0x0>;
		xlnx,include-mdio = <0x1>;
		xlnx,instance = "axi_ethernetlite_inst";
		xlnx,rx-ping-pong = <0x1>;
		xlnx,s-axi-id-width = <0x1>;
		xlnx,tx-ping-pong = <0x1>;
		xlnx,use-internal = <0x0>;
		interrupt-parent = <&cpuintc>;
		interrupts = <6 0>;
		mdio {
			#address-cells = <1>;
			#size-cells = <0>;
			phy0: phy@1 {
				device_type = "ethernet-phy";
				reg = <1>;
			};
		};
	};
};

&ext {
	clock-frequency = <50000000>;
};
